for fileXPath

### ref
- [python konlp](http://konlpy-ko.readthedocs.io/ko/v0.4.4/install/)
- [jpype install windows>> conda install -c conda-forge jpype1](http://jpype.readthedocs.io/en/latest/install.html) 이걸로도 잘 됨
- [jpype1 설치::고급_최근1달](https://wikidocs.net/17212) 파이썬에서 자바클래스를 호출해서 사용 
- [jpype1](https://pypi.org/project/JPype1/)

> jpype, java jdk 다 되는데 안되면, jupyter notebook을 껐다 켜라

In [1]:
import pandas as pd
from pandas import DataFrame
from sklearn.feature_extraction.text import CountVectorizer # 중간에 nan이 있으면 안 된다

In [2]:
import konlpy
from konlpy.tag import Twitter

In [ ]:
# nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')

In [3]:
df= pd.read_csv('data/naverNewsContent.csv', encoding= 'cp949')

In [4]:
print(df.shape)
df.head(2)

(1071, 2)

         link3pie                                              zbody
0  www.newsis.com  수원뉴시스김경호 기자 수원시 무인 대여자전거수원뉴시스김경호 기자 경기 수원시가 지난...
1    www.seoul.co  서울 서초구가 1억 3000만원을 들여 45만 모든 서초구민이 7종의 보험 혜택을 ...

In [5]:
df= df[~df.zbody.isnull()]

In [6]:
df.shape

(882, 2)

#### split -> phrase
1. line3pie 값 별로 합치기
2. 문장별 쪼개기
3. link3pie 값 별로 각기 가장 자주 나오는 어구

In [7]:
dfGroup= df.groupby(['link3pie']).sum()
dfGroup

                                                                 zbody
link3pie
app.yonhapnews.co    종로 자전거도로 개통 첫날광화문동대문 8분 만에 씽씽송고시간 20180408 12:...
bizn.donga.com       사진서초구서초구는 구민들이 안심하고 자전거를 이용할 수 있도록 예산 1억3000만 ...
car.chosun.com       르노가 지난 6일 개막한 2018 제네바 모터쇼에서 도시를 위해 설계되고 도시와 통...
news.chosun.com      서울 따릉이를 비롯해 자전거 탈 때 필수품이지만 너무 커서 갖고 다니기 어렵던 헬멧...
news.joins.com       하선영의 IT월 후웨이웨이 모바이크 창업자 인터뷰후웨이웨이 모바이크 창업자 겸 회장...
news.jtbc.co         앵고치기 번거롭고 귀찮아서 또는 어디에 세워뒀는지 잊어버려서 이런 저런 이유들로 서...
news.khan.co         서울시 공공자전거 따릉이 서울시 제공서울시 공공자전거 따릉이가 서비스 개시 2년 반...
news.kmib.co         서울시가 국내 최초로 녹색교통진흥지역으로 지정된 한양도성 내부 주요 도로를 46차로...
news.wowtv.co        차량을 통해 인근 산업단지 차량 10분대로 이동 가능 공공 및 업무기관 다수 밀집단...
stv.seoul.co          지난 26일 서울시 공공자전거 서울시청 대여소에 세워진 자전거 바구니에 쓰레기가 ...
travel.donga.com     세종여보 세종시 정말 살기 좋다 우리 여기로 이사 올까지난해 10월 초 세종시 친척...
www.asiatoday.co     새롭게 배치되는 자전거 뉴라이트 모델제공 수원시경기 수원시가 지난해 전국 최초로 도...
www.hani.co          스마트락 장치 개발 등 협력키로신한카드 NHN KCP도 참여(왼쪽부터) 신한카드 이...
www.hankookilbo.com  저급성능과 관리부실로 천덕꾸러기로 전락제 기능 못 하고 잦은 고장으로 대구 전역 방...
www.khan.co          (5) 자전거 천국 네덜란드 하우턴네덜란드 암스테르담 중앙역 앞 대로를 1월14일 ...
www.munhwa.com       대전시의 공공자전거 타슈가 도입 11년째를 맞아 고급화된다시는 올해 성능이 대폭 개...
www.naeil.com        글자크기부천에서 자전거 즐기기건강 싣고 달리는 부천 자전거길 도난 방지용 자전거등록...
www.newsis.com       수원뉴시스김경호 기자 수원시 무인 대여자전거수원뉴시스김경호 기자 경기 수원시가 지난...
www.segye.com        사용한 자전거를 아무 곳에나 반납할 수 있는 공유자전거 서비스가 이르면 올해 안에 ...
www.seoul.co         서울 서초구가 1억 3000만원을 들여 45만 모든 서초구민이 7종의 보험 혜택을 ...
www.sisain.co        GM의 전통적 라이벌인 포드의 전 CEO 마크 필즈는 2015년 1월 기자간담회에서...
www.wowtv.co         서울시가 공공자전거를 생활교통수단으로 정착시키기 위해 내년 9월부터 4대문안 여의도...

In [90]:
# dfGroup.to_csv('data/naverNewsTempClean.csv', encoding='cp949')

In [8]:
dfGroup.zbody= dfGroup.zbody.map(str.split, ' ')

In [9]:
dfGroup.head(10)

                                                               zbody
link3pie
app.yonhapnews.co  [종로, 자전거도로, 개통, 첫날광화문동대문, 8분, 만에, 씽씽송고시간, 2018...
bizn.donga.com     [사진서초구서초구는, 구민들이, 안심하고, 자전거를, 이용할, 수, 있도록, 예산,...
car.chosun.com     [르노가, 지난, 6일, 개막한, 2018, 제네바, 모터쇼에서, 도시를, 위해, ...
news.chosun.com    [서울, 따릉이를, 비롯해, 자전거, 탈, 때, 필수품이지만, 너무, 커서, 갖고,...
news.joins.com     [하선영의, IT월, 후웨이웨이, 모바이크, 창업자, 인터뷰후웨이웨이, 모바이크, ...
news.jtbc.co       [앵고치기, 번거롭고, 귀찮아서, 또는, 어디에, 세워뒀는지, 잊어버려서, 이런, ...
news.khan.co       [서울시, 공공자전거, 따릉이, 서울시, 제공서울시, 공공자전거, 따릉이가, 서비스...
news.kmib.co       [서울시가, 국내, 최초로, 녹색교통진흥지역으로, 지정된, 한양도성, 내부, 주요,...
news.wowtv.co      [차량을, 통해, 인근, 산업단지, 차량, 10분대로, 이동, 가능, 공공, 및, ...
stv.seoul.co       [지난, 26일, 서울시, 공공자전거, 서울시청, 대여소에, 세워진, 자전거, 바구...

In [10]:
dfGroup.index

Index(['app.yonhapnews.co', 'bizn.donga.com', 'car.chosun.com',
       'news.chosun.com', 'news.joins.com', 'news.jtbc.co', 'news.khan.co',
       'news.kmib.co', 'news.wowtv.co', 'stv.seoul.co', 'travel.donga.com',
       'www.asiatoday.co', 'www.hani.co', 'www.hankookilbo.com', 'www.khan.co',
       'www.munhwa.com', 'www.naeil.com', 'www.newsis.com', 'www.segye.com',
       'www.seoul.co', 'www.sisain.co', 'www.wowtv.co'],
      dtype='object', name='link3pie')

#### Tokenize

In [11]:
Twitter().morphs?
# tw.morphs(phrase='강낭콩ㅇㅇ', self='ㅇㅇ')

Object `morphs` not found.

In [12]:
Twitter().morphs

In [13]:
tw= Twitter()
tw.morphs

일단여기까진 됨

In [123]:
dfGroup.zbody.map

TypeError: morphs() missing 1 required positional argument: 'phrase'

In [25]:
vectorizer= CountVectorizer(max_features= 20)
vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=20, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

caution: nan에는 적용 X

In [26]:
vectorizer.fit(df['zbody'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=20, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)